<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  Demo for tabs and child pages.
  <p>
    This should open the List page as a child of the homepage, so keeping the tabs visible and the home tab active:<br><br>
    <a href="/tabs/home/list">List Page</a>
  </p>
  <p>
    This should open the Detail page for a specific item, still as a child of the homepage,
    so still keeping the tabs visible and the home tab active, and ideally with a 'back to list' button that can 
    take the user to the /tabs/home/list page:<br><br>
    <a href="/tabs/home/list/detail/1">Item 1</a>
  </p>
</ion-content>
